<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="programsForm">
  <form class="container-order">
    <ul class="emission-list-table">
      <li class="head clearfix">
        <div class="col-row clearfix" style="background: #444; color: #fff; font-size: 14px;padding: 8px;">
          <div class="col col-3">Nº do Ticket</div>
          <div class="col col-3">Nome do Passageiro</div>
          <div class="col col-3">Data de Emissão</div>
          <div class="col col-3">Data de Embarque</div>
        </div>
      </li>

      <li class="body clearfix">
        <form>
          <div class="col-row clearfix border-bottom" style="background-color: #edf0f2;"
            *ngFor="let emission of emissions; let j = index">
            <div class="col col-3">
              <span class="title">
                {{emission.e_ticket}}
              </span>
            </div>

            <div class="col col-3">
              <span>
                {{emission.name_passenger}}
              </span>
            </div>

            <div class="col col-3">
              <span>
                {{emission.created_at}}
              </span>
            </div>
            <div class="col col-3">
              <span>
                {{emission.date_boarding}}
              </span>
            </div>
          </div>

          <div class="col-row clearfix border-bottom" style="background-color: #edf0f2;"
            *ngIf="loading || (!loading && emissions.length == 0)">

            <div class="col col-12">
              <span class="title">
                <h3 *ngIf="loading"> Carregando...</h3>
                <h3 *ngIf="!loading && emissions.length == 0">Nenhuma emissão recente</h3>
              </span>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </form>
</form>