.footer {
  margin-top: 20px;
  border-top: 3px solid #ffd511;
  padding-top: 1rem;
  background-color: #333333;
  color: #fff;;
}

.block-address-contacts{
  border-bottom: 1px solid #333333;
  margin-bottom: 3rem;
}

.menu-extorno-footer .nav {
  float: left;
  padding-right: 1.2em;
}

.menu-extorno-footer li {
  display: block;
  margin: .5em 0;
}

.menu-extorno-footer a{
  color:#fff;
}

.menu-footer li {
  display: block;
  margin: .5em 0;
}

.menu-footer a{
  color:#fff;
}

.icon-social-footer{
  color:#fff;
  font-size: 2.0rem;
  margin-bottom: .5em;
  display: block;
}

.icon-social-footer i:nth-child(0){
  color:red;
}

.copyright{
  background-color: #444;
  color:#fff;
  padding: .55em .2em;
  margin-top: .8em;
  text-align: center;
  font-size: .9em;
}