<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <article class="block-address-contacts">
          <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <address>
                <h5>Endereço & Horário</h5>
                <p>
                  <strong>End.</strong> Rua Paissandu, 714, Paissandu, Recife-PE
                  <br>
                  <strong>Atendimento:</strong> 09:00 às 18:00
                </p>
              </address>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <h5>Contato</h5>
              <p>
                <strong>Telefone:</strong>(81) 4042 9760
                <br>
                <strong>Email:</strong> contato@elomilhas.com.br
              </p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

              <ul class="nav nav-inline">
                <li class="nav-item">
                  <a href="#" title="">
                    <img src="assets/imgs/elomilhas-logo.png" class="img-fluid" alt="Elomilhas, Transforme suas minhas em dinheiro."/>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="#" title="">
                    <img src="assets/imgs/cadastur-logo.png" class="img-fluid" alt="Cadastur"/>
                  </a>
                </li>
              </ul>

            </div>

          </div>
        </article>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h5>Informações sobre milhas</h5>

        <div class="menu-extorno-footer">
          <ul class="nav" style="display: unset">

            <li>
              <a class="tag-link-1" href="https://www.elomilhas.com.br/comprar-milhas" title="Comprar Milhas">Comprar Milhas</a>
            </li>

            <li>
              <a  class="tag-link-2" href="https://www.elomilhas.com.br/vender-milhas" title="Vender Milhas">Vender Milhas</a>
            </li>

            <li>
              <a class="tag-link-3" href="https://www.elomilhas.com.br/milhas-aereas" title="Milhas Aéreas">Milhas Aéreas</a>
            </li>

            <li>
              <a class="tag-link-4" href="https://www.elomilhas.com.br/tudo-azul" title="Tudo Azul">Tudo Azul</a>
            </li>

            <li>
              <a class="tag-link-5" href="https://www.elomilhas.com.br/comprar-milhas-aereas-tam" title="Comprar Milhas Aéreas TAM">Comprar Milhas Aéreas TAM</a>
            </li>

            <li>
              <a class="tag-link-6" href="https://www.elomilhas.com.br/multiplus" title="Multiplus">Multiplus</a>
            </li>

            <li>
              <a class="tag-link-7" href="https://www.elomilhas.com.br/amigo-avianca" title="Amigo Avianca">Amigo Avianca</a>
            </li>

            <li>
              <a class="tag-link-8" href="https://www.elomilhas.com.br/milhas-amigo-avianca" title="Milhas Amigo Avianca">Milhas Amigo Avianca</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/tam" title="TAM">TAM</a>
            </li>

          </ul>

          <ul class="nav" style="display: unset">
            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/vender-milhas-aereas-tam" title="Vender Milhas Aéreas TAM">Vender Milhas Aéreas TAM</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-aereas-azul" title="Milhas Aéreas Azul">Milhas Aéreas Azul</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-aereas-gol" title="Milhas Aéreas GOL">Milhas Aéreas GOL</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-aereas-tam" title="Milhas Aéreas TAM">Milhas Aéreas TAM</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/pontos-multiplus" title="Pontos Multiplus">Pontos Multiplus</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-multiplus" title="Milhas Multiplus">Milhas Multiplus</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/pontos-gol" title="Pontos Gol">Pontos Gol</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-smiles" title="Milhas Smiles">Milhas Smiles</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/comprar-pontos-tam" title="Comprar Pontos TAM">Comprar Pontos TAM</a>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-4 col-lg-2 hidden-md-down">
        <h5 class="title-footer">Menu</h5>
        <div class="menu-footer">
          <ul class="nav">
            <li>
              <a href="https://www.elomilhas.com.br/" title="Vender Milhas">Vender Milhas <span class="sr-only">(current)</span></a>
            </li>

            <li>
              <a href="https://www.elomilhas.com.br/a-elomilhas" title="A Elomilhas">A Elomilhas</a>
            </li>

            <li>
              <a href="https://www.elomilhas.com.br/comprar-milhas" title="Como Comprar Milhas">Como Comprar Milhas</a>
            </li>

            <li>
              <a href="https://www.elomilhas.com.br/faq" title="Perguntas frequentes">Perguntas frequentes</a>
            </li>

            <li>
              <a href="https://www.elomilhas.com.br/blog" title="Blog">Blog</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-md-down">
        <h5>Social Elomilhas</h5>
        <ul class="nav nav-inline">

          <li class="nav-link">
            <a href="#" class="icon-social-footer" target="_blank">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-link">
            <a href="#" class="icon-social-footer" target="_blank">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-link">
            <a href="#" class="icon-social-footer" target="_blank">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-link">
            <a href="#" class="icon-social-footer" target="_blank">
              <i class="fa fa-youtube-square" aria-hidden="true"></i>
            </a>
          </li>
          
        </ul>

        <div class="fb-page" data-href="https://www.facebook.com/elomilhas/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/elomilhas/">
            <a href="https://www.facebook.com/elomilhas/">EloMilhas - Compra e Venda</a>
          </blockquote>
        </div>
      </div>

    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <span>
        © 2018 EloMilhas - Compra e venda de pontos e milhas aéreas. Todos os direitos reservados.
      </span>
    </div>
  </div>
</footer>