<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <article class="block-address-contacts">
          <div class="row">

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
              <address>
                <h5><strong>Endereço e Horário</strong></h5>
                <p>
                  <strong>End.:</strong> Rua Paissandú, 714, Paissandu, Recife-PE
                  <br>
                  <strong>Atendimento:</strong> 09:00 às 18:00
                </p>
              </address>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <h5><strong>Contato</strong></h5>
              <p>
                <strong>Telefone:</strong> (81) 4042 9760
                <br>
                <strong>Email:</strong> contato@elomilhas.com.br
              </p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

              <ul class="nav nav-inline">
                <li class="nav-item" style="margin-right: 25px">
                  <a href="https://elomilhas.com.br/" title="Elomilhas" target="_blank" rel="noopener noreferrer">
                    <img src="assets/imgs/elomilhas-logo.png" class="img-fluid" alt="Elomilhas, Transforme suas minhas em dinheiro."/>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="https://cadastur.turismo.gov.br/hotsite/" title="Cadastu" target="_blank" rel="noopener noreferrer">
                    <img src="assets/imgs/cadastur-logo.png" class="img-fluid" alt="Cadastur"/>
                  </a>
                </li>
              </ul>

            </div>

          </div>
        </article>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h5><strong>Informações sobre milhas</strong></h5>

        <div class="menu-extorno-footer">
          <ul class="nav" style="display: unset">

            <li>
              <a class="tag-link-1" href="https://www.elomilhas.com.br/comprar-milhas" title="Comprar Milhas" target="_blank" rel="noopener noreferrer">Comprar Milhas</a>
            </li>

            <li>
              <a  class="tag-link-2" href="https://www.elomilhas.com.br/vender-milhas" title="Vender Milhas" target="_blank" rel="noopener noreferrer">Vender Milhas</a>
            </li>

            <li>
              <a class="tag-link-3" href="https://www.elomilhas.com.br/milhas-aereas" title="Milhas Aéreas" target="_blank" rel="noopener noreferrer">Milhas Aéreas</a>
            </li>

            <li>
              <a class="tag-link-4" href="https://www.elomilhas.com.br/tudo-azul" title="Tudo Azul" target="_blank" rel="noopener noreferrer">Tudo Azul</a>
            </li>

            <li>
              <a class="tag-link-5" href="https://www.elomilhas.com.br/comprar-milhas-aereas-tam" title="Comprar Milhas Aéreas Latam" target="_blank" rel="noopener noreferrer">Comprar Milhas Aéreas Latam</a>
            </li>

            <li>
              <a class="tag-link-6" href="https://www.elomilhas.com.br/multiplus" title="Multiplus" target="_blank" rel="noopener noreferrer">Multiplus</a>
            </li>

<!--            <li>-->
<!--              <a class="tag-link-7" href="https://www.elomilhas.com.br/amigo-avianca" title="Amigo Avianca" target="_blank" rel="noopener noreferrer">Amigo Avianca</a>-->
<!--            </li>-->

            <li>
              <a class="tag-link-8" href="https://www.elomilhas.com.br/milhas-amigo-avianca" title="Milhas Amigo Avianca" target="_blank" rel="noopener noreferrer">Milhas Amigo Avianca</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/tam" title="Latam" target="_blank" rel="noopener noreferrer">Latam</a>
            </li>

          </ul>

          <ul class="nav" style="display: unset">
            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/vender-milhas-aereas-tam" title="Vender Milhas Aéreas Latam" target="_blank" rel="noopener noreferrer">Vender Milhas Aéreas Latam</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-aereas-azul" title="Milhas Aéreas Azul" target="_blank" rel="noopener noreferrer">Milhas Aéreas Azul</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-aereas-gol" title="Milhas Aéreas GOL" target="_blank" rel="noopener noreferrer">Milhas Aéreas GOL</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-aereas-tam" title="Milhas Aéreas Latam" target="_blank" rel="noopener noreferrer">Milhas Aéreas Latam</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/pontos-multiplus" title="Pontos Multiplus" target="_blank" rel="noopener noreferrer">Pontos Multiplus</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-multiplus" title="Milhas Multiplus" target="_blank" rel="noopener noreferrer">Milhas Multiplus</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/pontos-gol" title="Pontos Gol" target="_blank" rel="noopener noreferrer">Pontos Gol</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/milhas-smiles" title="Milhas Smiles" target="_blank" rel="noopener noreferrer">Milhas Smiles</a>
            </li>

            <li>
              <a class="tag-link-9" href="https://www.elomilhas.com.br/comprar-pontos-tam" title="Comprar Pontos TAM" target="_blank" rel="noopener noreferrer">Comprar Pontos Latam</a>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-4 col-lg-2 hidden-md-down">
        <h5 class="title-footer"><strong>Menu</strong></h5>
        <div class="menu-footer">
          <ul class="nav">
            <li>
              <a href="https://www.elomilhas.com.br/" title="Vender Milhas" target="_blank" rel="noopener noreferrer">Vender Milhas <span class="sr-only">(current)</span></a>
            </li>

            <li>
              <a href="https://www.elomilhas.com.br/a-elomilhas" title="A Elomilhas" target="_blank" rel="noopener noreferrer">A Elomilhas</a>
            </li>

            <li>
              <a href="https://www.elomilhas.com.br/comprar-milhas" title="Como Comprar Milhas" target="_blank" rel="noopener noreferrer">Como Comprar Milhas</a>
            </li>

            <li>
              <a href="https://www.elomilhas.com.br/faq" title="Perguntas frequentes" target="_blank" rel="noopener noreferrer">Perguntas frequentes</a>
            </li>

            <li>
              <a href="https://www.elomilhas.com.br/blog" title="Blog" target="_blank" rel="noopener noreferrer">Blog</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-md-down">
        <h5><strong>Social Elomilhas</strong></h5>
        <ul class="nav nav-inline">

          <li class="nav-link">
            <a href="https://www.facebook.com/elomilhas" class="icon-social-footer" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-link">
            <a href="https://twitter.com/elomilhas" class="icon-social-footer" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-link">
            <a href="https://www.linkedin.com/company/elomilhas/about/" class="icon-social-footer" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-link">
            <a href="https://www.youtube.com/channel/UCL2ztpKNC9dTAA8vw3KACDA" class="icon-social-footer" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-youtube-square" aria-hidden="true"></i>
            </a>
          </li>
          
        </ul>
<!--        <div class="fb-page" data-href="https://www.facebook.com/elomilhas/" data-small-header="false"-->
<!--             data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">-->
<!--          <div class="fb-xfbml-parse-ignore">-->
<!--            <blockquote cite="https://www.facebook.com/elomilhas/"><a href="https://www.facebook.com/elomilhas/">Elo-->
<!--              Milhas - Compra e Venda</a></blockquote>-->
<!--          </div>-->
<!--        </div>-->
      </div>

    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <span>
        © 2018 EloMilhas - Compra e venda de pontos e milhas aéreas. Todos os direitos reservados.
      </span>
    </div>
  </div>
</footer>
