<header>

  <div class="navbar navbar-default" style="height: 44px;" itemscope itemtype="http://schema.org/Organization">
    <ul class="nav-header text-sm-right" style="width: 100%; ">

      <li class="icone-topo">
        <a href="tel:8140429760">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
      </li>

      <li>81 <strong>4042.9760</strong></li>
    </ul>
  </div>

</header>

<nav class="header-navbar navbar-dark bg-primary nav-relative" role="navigation">
  <div class="container">
    
    <h2 class="header-logo">
      <!-- <a href="#" class="icon-menu-toggle hidden-md-up">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a> -->

      <a href="#" title="Página inicial Elomilhas">
        <img src="assets/imgs/elomilhas-logo-small.png" />
      </a>
    </h2>
    <!--
    <ul class="header-menu" data-toggle="true">
      
      <li>
        <a href="https://www.elomilhas.com.br" >Site Elomilhas</a>
      </li>
      
      <li>
        <a href="#" title="Veja suas cotações recentes e faça sua venda" class="">Minhas Cotações</a>
      </li>

      <li>
        <a href="#" title="Acesse para editar seus dados pessoais" class="">Meus Dados</a>
      </li> 

      <li>
        <a href="https://www.elomilhas.com.br/faq/" title="" class="nav-a m4" target="_blank">Dúvidas?</a>
      </li> 
    </ul>
    -->
  </div>
</nav>
