<app-navbar></app-navbar>

<div id="containerFornecedorLogin">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <form (ngSubmit)="reset()" (keyup.enter)="reset()" [formGroup]="resetForm">
        <fieldset class="form-group">
          <h2 class="fieldset-title"> <i class="fa fa-user" aria-hidden="true"></i> Área do Fornecedor </h2>
          <label>Digite seu endereço de e-mail abaixo para receber as instruções:</label><br>
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="username" class="form-control" name="username" formControlName="username" placeholder="Email" required>
        </fieldset>
        <div class="clearfix"></div>
        <div class="button-area cf" id="cadastroBotaoControle">
          <button routerLink="/login" type="button" class="btn btn-default">Voltar</button>
          ou
          <button type="submit" id="login-button" class="btn btn-success">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>