<form [formGroup]="personalDataForm" (submit)="personalDataSubmit()">
    <ng-template matStepLabel>Dados Cadastrais</ng-template>
    <div class="row personal-form">
        <div class="col-12">
            <h3 class="fieldset-title">Dados Pessoais</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
            <label>Nome</label><br>
            <input type="text" formControlName='personal_name' class="form-control" [value]="userInfo.name">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
            <label>CPF</label><br>
            <input type="text" formControlName='personal_cpf' class="form-control" name="cpf" [value]="userInfo.cpf" [dropSpecialCharacters]="false" mask="000.000.000-00">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
            <div class="row form-group">
                <label>Data de Nascimento</label>
                <input style="border: 1px solid #ced4da; padding: 0.375rem 0.75rem;" type="text" [min]="minDate" [max]="maxDate"
                       class="form-control col-12 col-sm-8 col-md-8 col-lg-8 mb-3" matInput
                       [matDatepicker]="picker" formControlName="personal_birthday" [ngClass]="{'input-invalid': submitted && f.personal_birthday.errors}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                <div *ngIf="submitted && f.personal_birthday.errors" class="form-validator-error">
                    <div *ngIf="f.personal_birthday.errors.required">A data de nascimento é obrigatória</div>
                    <div *ngIf="f.personal_birthday.errors.minlength">Informe uma data válida</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-3">
            <label>Sexo</label>
            <select formControlName="personal_gender" class="form-control" [ngClass]="{'input-invalid': submitted && f.personal_gender.errors}">
                <option *ngFor="let gender of genders" [value]="gender.value">{{gender.label}}</option>
            </select>
            <div *ngIf="submitted && f.personal_gender.errors" class="form-validator-error">
                <div *ngIf="f.personal_gender.errors.required">O sexo é obrigatório</div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-6 col-lg-6 mb-3">
            <label>Telefone fixo</label>
            <input type="text" formControlName="personal_phone" class="form-control" placeholder="Telefone Fixo" [dropSpecialCharacters]="false" mask="(00) 0000-0000">
        </div>
        <div class="col-12 col-sm-4 col-md-6 col-lg-6 mb-3">
            <label>Celular</label>
            <input type="text" formControlName="personal_cellphone" class="form-control" [ngClass]="{'input-invalid': submitted && f.personal_cellphone.errors}" placeholder="Celular" [dropSpecialCharacters]="false" mask="(00) 00000-0000">
            <div *ngIf="submitted && f.personal_cellphone.errors" class="form-validator-error">
                <div *ngIf="f.personal_cellphone.errors.required">O celular é obrigatório</div>
                <div *ngIf="f.personal_cellphone.errors.minlength">Informe um número válido</div>
            </div>
        </div>
    </div>
    <div class="row residential-form">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="fieldset-title">Dados Residenciais</h3>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-3">
            <label>CEP</label>
            <input type="text" formControlName="residential_zip_code" class="form-control" [ngClass]="{'input-invalid': submitted && f.residential_zip_code.errors}" placeholder="CEP" [dropSpecialCharacters]="false" mask="00000-000">
            <div *ngIf="submitted && f.residential_zip_code.errors" class="form-validator-error">
                <div *ngIf="f.residential_zip_code.errors.required">O nome é obrigatório</div>
                <div *ngIf="f.residential_zip_code.errors.minlength">Informe um CEP válido</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Rua</label>
            <input type="text" formControlName="residential_address" class="form-control" [ngClass]="{'input-invalid': submitted && f.residential_address.errors}" placeholder="Rua" maxlength="50">
            <div *ngIf="submitted && f.residential_address.errors" class="form-validator-error">
                <div *ngIf="f.residential_address.errors.required">A rua é obrigatória</div>
            </div>
        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 mb-3">
            <label>Número</label>
            <input type="text" formControlName="residential_number" class="form-control" [ngClass]="{'input-invalid': submitted && f.residential_number.errors}" placeholder="N°" min="0" mask="0*" maxlength="9">
            <div *ngIf="submitted && f.residential_number.errors" class="form-validator-error">
                <div *ngIf="f.residential_number.errors.required">O número é obrigatório</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Complemento</label>
            <input type="text" formControlName="residential_complement" class="form-control" placeholder="Comp.">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Bairro</label>
            <input type="text" formControlName="residential_neighborhood" class="form-control" [ngClass]="{'input-invalid': submitted && f.residential_neighborhood.errors}" placeholder="Bairro" maxlength="50">
            <div *ngIf="submitted && f.residential_neighborhood.errors" class="form-validator-error">
                <div *ngIf="f.residential_neighborhood.errors.required">O bairro é obrigatório</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Cidade</label>
            <input type="text" formControlName="residential_city" class="form-control" [ngClass]="{'input-invalid': submitted && f.residential_city.errors}" placeholder="Cidade" maxlength="30">
            <div *ngIf="submitted && f.residential_city.errors" class="form-validator-error">
                <div *ngIf="f.residential_city.errors.required">A cidade é obrigatória</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Estado</label>
            <select formControlName="residential_state" class="form-control" [ngClass]="{'input-invalid': submitted && f.residential_state.errors}">
                <option *ngFor="let uf of ufs" [value]="uf.value">{{uf.label}}</option>
            </select>
            <div *ngIf="submitted && f.residential_state.errors" class="form-validator-error">
                <div *ngIf="f.residential_state.errors.required">O estado é obrigatório</div>
            </div>
        </div>
    </div>
    <div class="row commercial-form">
        <div class="col-12">
            <h3 class="fieldset-title">Dados Comerciais</h3>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Ocupação</label>
            <select formControlName="personal_occupation_id" class="form-control">
                <option *ngFor="let occupation of occupations" [value]="occupation.value">{{occupation.label}}</option>
            </select>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Profissão</label>
            <input type="text" formControlName="personal_occupation" class="form-control" placeholder="Profissão" maxlength="20">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Nome da Empresa</label>
            <input type="text" formControlName="personal_company" class="form-control" placeholder="Nome da Empresa" maxlength="20">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label>Telefone</label>
            <input type="text" formControlName="personal_company_phone" class="form-control" placeholder="Telefone da Empresa" [dropSpecialCharacters]="false" mask="(00) 00000-0000">
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <button class="btn btn-primary btn-block" type="submit">Continuar</button>
        </div>
    </div>
</form>
