<div class="container-fornecedor">

  <div class="alert alert-warning">
    <p>Precisamos que você preencha até o último passo para lhe registrar senão não poderemos entrar em contato com você e suas milhas não poderão ser vendidas.</p>
  </div>

  <div id="scroll-to-stepper"></div>
  <mat-horizontal-stepper linear=true #stepper>

    <mat-step [stepControl]="accessDataForm" [editable]="false">
      <ng-template matStepLabel>
        <div class="d-flex align-items-center">
          Acesso
          <i class="material-icons">
            how_to_reg
          </i>
        </div>
      </ng-template>
      <app-register-access-data [loading]="loading" [accessDataForm]="accessDataForm" (submitData)="accessDataReceiver($event, stepper)"></app-register-access-data>
      <form [formGroup]="accessDataForm" hidden>
        <mat-form-field>
          <input matInput formControlName="hiddenCtrl" required>
        </mat-form-field>
      </form>
    </mat-step>

<!--    <mat-step [stepControl]="confirmForm" [editable]="false">-->
<!--      <ng-template matStepLabel> Confirmar Cadastro</ng-template>-->
<!--      <form [formGroup]="confirmForm" hidden>-->
<!--        <mat-form-field>-->
<!--          <input matInput formControlName="confirmCtrl" required>-->
<!--        </mat-form-field>-->
<!--      </form>-->
<!--      <div class="row">-->
<!--        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">-->
<!--          <h3 class="fieldset-title">Confirmar conta</h3>-->
<!--          <p>Verifique seu e-mail e confirme sua conta.</p>-->
<!--        </div>-->
<!--        <div class="col-12 col-sm-12 col-md-3 col-lg-3">-->
<!--          <button class="btn btn-primary btn-block" (click)="checkConfirm(stepper)">Continuar</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-step>-->

    <mat-step [stepControl]="personalDataForm">
      <ng-template matStepLabel>
        <div class="d-flex align-items-center">
          Pessoal
          <i class="material-icons">
            home
          </i>
        </div>
      </ng-template>
      <div id="scroll-to-step-2"></div>
      <app-register-personal-data [loading]="loading" [personalDataForm]="personalDataForm" (submitData)="personalDataReceiver($event, stepper)"
        [userInfo]="userInfo"></app-register-personal-data>
    </mat-step>

    <mat-step [stepControl]="fidelitiesForm" >
      <ng-template matStepLabel>
        <div class="d-flex align-items-center">
          Fidelidade
          <i class="material-icons">
            local_airport
          </i>
        </div>
      </ng-template>
      <div id="scroll-to-step-3"></div>
      <app-register-fidelity-programs [loading]="loading" (submitData)="fidelitiesDataReceiver($event, stepper)" [fidelityDataForm]="fidelitiesForm"
        [programs]="programs" [showCheckbox]="showFidelityCheckbox">
      </app-register-fidelity-programs>
    </mat-step>

    <mat-step [stepControl]="bankDataForm">
      <ng-template matStepLabel>
        <div class="d-flex align-items-center">
          Banco
          <i class="material-icons">
            attach_money
          </i>
        </div>
      </ng-template>
      <div id="scroll-to-step-4"></div>
      <app-register-bank-data [loading]="loading" [bankDataForm]="bankDataForm" (submitData)="bankDataReceiver($event)" [banks]="banks"></app-register-bank-data>
    </mat-step>

  </mat-horizontal-stepper>

</div>
