<div class="container">

  <mat-horizontal-stepper linear=true #stepper>

    <mat-step [stepControl]="accessDataForm">
      <ng-template matStepLabel> Dados de Acesso</ng-template>
      <app-register-access-data [accessDataForm]="accessDataForm" (submitData)="accessDataReceiver($event, stepper)"></app-register-access-data>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Confirmar Cadastro</ng-template>
      <p>Verifique seu e-mail e confirme o cadastro.</p>
      <div>
        <button mat-raised-button color="primary" (click)="checkConfirm(stepper)">Próximo</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="personalForm">
      <ng-template matStepLabel> Dados Pessoais</ng-template>
      <app-register-personal-data [personalDataForm]="personalDataForm" (submitData)="personalDataReceiver($event, stepper)"
        [userInfo]="userInfo"></app-register-personal-data>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Programas de Fidelidade</ng-template>
      <!-- [stepControl]="fidelitiesForm" -->
      <app-register-fidelity-programs (submitData)="fidelitiesDataReceiver($event, stepper)" [fidelityDataForm]="fidelitiesForm"
        [programs]="programs">
      </app-register-fidelity-programs>
    </mat-step>


    <mat-step [stepControl]="bankForm">
      <ng-template matStepLabel>Dados Bancários</ng-template>
      <app-register-bank-data [bankDataForm]="bankDataForm" (submitData)="bankDataReceiver($event)" [banks]="banks"></app-register-bank-data>
    </mat-step>


  </mat-horizontal-stepper>

</div>