<app-navbar></app-navbar>

<div id="containerFornecedorLogin">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <form (ngSubmit)="reset()" (keyup.enter)="reset()" [formGroup]="resetForm">
        <fieldset class="form-group">
          <h2 class="fieldset-title"> <i class="fa fa-user" aria-hidden="true"></i> Área do Fornecedor </h2>
          <label>Informe a nova senha:</label><br>
          <input type="password" [(ngModel)]="password" class="form-control" name="password" formControlName="password" placeholder="Senha" required>
          <label>Confirmar senha:</label><br>
          <input type="password" [(ngModel)]="password_confirmation" class="form-control" name="password_confirmation" formControlName="password_confirmation" placeholder="Informe a senha novamente" required>
        </fieldset>
        <div class="clearfix"></div>
        <div class="button-area cf" id="cadastroBotaoControle">
          <button type="submit" id="submit-button" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>