<form [formGroup]="fidelityDataForm" (submit)="fidelityDataSubmit()">
  <!-- [formGroup]="fidelitiesForm" -->
  <div class="row fidelity-form">
    <div class="col-12">
      <h3>Programas de Fidelidade</h3>
    </div>
    <div *ngFor="let control of formGroupArray; let i = index">
      <div class="row">
        <div [ngClass]="{'col-6': program.code == 'JJ', 'col-12': program.code !== 'JJ'}">
          <label>{{control.title}}</label>
          <input type="text" [(ngModel)]="fidelities[i].card_number" name="fidelity_card_number_{{program.code}}"
            class="form-control" placeholder="N° {{program.title}} Fidelidade">
        </div>
      </div>
    </div>

  </div>
  <div>
    <button type="submit" mat-raised-button color="primary" (click)="nextStep(stepper)">Próximo</button>
  </div>
</form>
