<form [formGroup]="bankDataForm" (submit)="bankDataSubmit()">
  <div class="row bank-form">
    <div class="col-12">
      <h3 class="fieldset-title">Dados Bancários</h3>
    </div>
    <div class="col-12 col-sm-7 col-md-6 col-lg-6 mb-3">
      <label>Nome do Banco</label>
      <select type="text" name="bank_id" formControlName="bank_id" class="form-control"[ngClass]="{'input-invalid': f.bank_id.touched && f.bank_id.invalid}" placeholder="Nome do Banco"
        (change)="getSegments()">
        <option *ngFor="let bank of banks" [value]="bank.id">{{bank.title}}</option>
      </select>
      <div *ngIf="submitted && f.bank_id.errors" class="form-validator-error">
        <div *ngIf="f.bank_id.errors.required">O banco é obrigatório</div>
      </div>
    </div>
    <div class="col-12 col-sm-5 col-md-6 col-lg-6 mb-3">
      <label>Tipo de conta</label>
      <select type="text" name="bank_type" formControlName="bank_type" class="form-control" [ngClass]="{'input-invalid': f.bank_type.touched && f.bank_type.invalid}" placeholder="Tipo">
        <option value="CC">Corrente</option>
        <option value="PP">Poupança</option>
      </select>
      <div *ngIf="submitted && f.bank_type.errors" class="form-validator-error">
        <div *ngIf="f.bank_type.errors.required">O tipo da conta é obrigatório</div>
      </div>
    </div>
    <div class="col-9 col-sm-7 col-md-4 col-lg-4 mb-3">
      <label>N° Agência</label>
      <input type="text" name="bank_agency" formControlName="bank_agency" class="form-control" [ngClass]="{'input-invalid': f.bank_agency.touched && f.bank_agency.invalid}" placeholder="Agência" mask="0*" maxlength="15">
      <div *ngIf="submitted && f.bank_agency.errors" class="form-validator-error">
        <div *ngIf="f.bank_agency.errors.required">A agência é obrigatória</div>
      </div>
    </div>
    <div class="col-3 col-sm-5 col-md-2 col-lg-2 mb-3">
      <label>DV</label>
      <input type="text" name="bank_agency_digit" formControlName="bank_agency_digit" maxlength="1" class="form-control" [ngClass]="{'input-invalid': f.bank_agency_digit.touched && f.bank_agency_digit.invalid}" mask="0">
    </div>
    <div class="col-9 col-sm-7 col-md-4 col-lg-4 mb-3">
      <label>N° Conta</label>
      <input type="text" name="bank_account" formControlName="bank_account" class="form-control" [ngClass]="{'input-invalid': f.bank_account.touched && f.bank_account.invalid}" placeholder="Conta" mask="0*" maxlength="15">
      <div *ngIf="submitted && f.bank_account.errors" class="form-validator-error">
        <div *ngIf="f.bank_account.errors.required">A conta é obrigatória</div>
      </div>
    </div>
    <div class="col-3 col-sm-5 col-md-2 col-lg-2 mb-3">
      <label>DV</label>
      <input type="text" name="bank_account_digit" formControlName="bank_account_digit" maxlength="1" class="form-control" [ngClass]="{'input-invalid': f.bank_account_digit.touched && f.bank_account_digit.invalid}" mask="0">
    </div>
    <div class="col-12 col-sm-7 col-md-6 col-lg-6 mb-3">
      <label>Segmento</label>
      <select type="text" name="bank_segment_id" formControlName="bank_segment_id" class="form-control" placeholder="Segmento">
        <option *ngFor="let segment of segments" [value]="segment.id">{{segment.title}}</option>
      </select>
    </div>
    <div class="col-12 col-sm-5 col-md-6 col-lg-6 mb-3">
      <label>Operação</label>
      <input type="text" name="bank_operation" formControlName="bank_operation" class="form-control" [ngClass]="{'input-invalid': f.bank_operation.touched && f.bank_operation.invalid}" placeholder="Operação" mask="0*">
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3" *ngIf="hasSteps">
      <button class="btn btn-primary btn-block" type="submit">Concluir</button>
    </div>
  </div>
</form>
