<div class="container-fornecedor" *ngIf="updateForm">
  <form [formGroup]="updateForm" (submit)="submitForm()">
    <div class="row-fluid" id="formCadastroPt1">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
          <h2 class="fieldset-title">Dados Pessoais</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label>Nome</label>
            <input type="tex" class="form-control negrito" formControlName="name" placeholder="Nome">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control negrito" formControlName="cpf" placeholder="CPF" mask="000.000.000-00">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="row form-group">
            <label>Data de Nascimento</label>
            <input *ngIf="providerData['birthday'] && providerData['birthday'] !== 'Invalid date'" style="border: 1px solid #ced4da; padding: 0.375rem 0.75rem;" type="text" class="form-control col-sm-10 col-md-10 col-lg-10" matInput formControlName="birthday" placeholder="Data de Nascimento">
            <input *ngIf="!providerData['birthday'] || (providerData['birthday'] && providerData['birthday'] === 'Invalid date')" style="border: 1px solid #ced4da; padding: 0.375rem 0.75rem;" type="text" class="form-control col-sm-10 col-md-10 col-lg-10" matInput [matDatepicker]="picker" formControlName="birthday" placeholder="Data de Nascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate" [disabled]="providerData['birthday'] && providerData['birthday'] !== 'Invalid date'"></mat-datepicker>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

            </div>
          </div>
          <div class="form-group">
            <label>Sexo</label>
            <select class="custom-select" formControlName="gender">
              <option *ngFor="let gender of genders" [value]="gender.value">{{gender.label}}</option>
            </select>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Telefone fixo</label>
            <input type="text" class="form-control" placeholder="(XX) XXXX-XXXX" mask="(00) 0000-0000"
              formControlName="phone">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Celular</label>
            <input type="text" class="form-control" formControlName="cellphone" placeholder="(XX) XXXXX-XXXX"
              mask="(00) 00000-0000">
          </div>
        </div>

      </div>

      <hr />

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
          <h2 class="fieldset-title">Dados Residenciais</h2>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label>CEP</label>
            <input type="text" class="form-control" formControlName="zip_code" placeholder="CEP"
              [dropSpecialCharacters]="false" mask="00000-000">
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-7 col-lg-7">
          <div class="form-group">
            <label>Rua</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Rua" maxlength="30">
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
          <label>Número</label>
          <input type="text" class="form-control" formControlName="number" placeholder="Número" mask="0*" maxlength="9">
        </div>

        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Complemento</label>
            <input type="text" class="form-control" formControlName="complement" placeholder="Comp." maxlength="30">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Bairro</label>
            <input type="text" class="form-control" formControlName="neighborhood" placeholder="Bairro" maxlength="40">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Cidade</label>
            <input type="text" class="form-control" formControlName="city" placeholder="Cidade" maxlength="30">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Estado</label>
            <select class="custom-select" formControlName="state">
              <option *ngFor="let uf of ufs" [value]="uf.value">{{uf.label}}</option>
            </select>
          </div>
        </div>

      </div>

      <hr />

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
          <h2 class="fieldset-title with-icon icon-suitcase">Dados Comerciais</h2>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Cargo</label>
            <select class="custom-select" formControlName="provider_occupation_id">
              <option *ngFor="let occupation of occupations" [value]="occupation.value">{{occupation.label}}</option>
            </select>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Profissão</label>
            <input type="text" class="form-control" formControlName="occupation" placeholder="Profissão" maxlength="20">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Empresa</label>
            <input type="text" class="form-control" formControlName="company" placeholder="Nome da Empresa" maxlength="20">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Telefone da empresa</label>
            <input type="text" class="form-control" formControlName="company_phone" placeholder="Telefone da Empresa"
              mask="(00) 00000-0000">
          </div>
        </div>

      </div>

      <hr />

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
          <h2 class="fieldset-title with-icon icon-suitcase">Dados de Fidelidade</h2>
        </div>

        <div *ngFor="let program of programs" class="col-12">
          <div class="row m-l-xs m-r-xs">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="f.card_number_JJ">
              <div class="form-group">
                <label>
                  <img [alt]="program.title" [src]="'assets/imgs/cias/'+program.code.toLowerCase()+'.png'" style="width:23px;" mask="0*" />
                  Nº Fidelidade {{program.title.replace('TAM', 'LATAM')}}
                </label>
                <input type="text" formControlName="card_number_{{program.code}}" class="form-control" maxlength="20" mask="0*">
              </div>
            </div>
            <div *ngIf="f.card_number_JJ" class="col-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label>Senha Fidelidade {{program.title.replace('TAM', 'LATAM')}}</label>
                <input type="password" formControlName="access_password_{{program.code}}" class="form-control" maxlength="20" mask="0*">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
          <h2 class="fieldset-title with-icon icon-suitcase">Dados Bancários</h2>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Nome do banco</label>
            <select type="text" name="bank_id" formControlName="bank_id" class="form-control"
              [ngClass]="{'input-invalid': submitted && f.bank_id.errors}" placeholder="Nome do Banco"
              (change)="getSegments()">
              <option *ngFor="let bank of banks" [value]="bank.id">{{bank.title}}</option>
            </select>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Tipo de Conta</label>
            <select class="custom-select" formControlName="type">
              <option value="CC">Corrente</option>
              <option value="PP">Poupança</option>
            </select>
          </div>
        </div>

        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label>Agência</label>
            <input type="text" class="form-control" placeholder="Agência" formControlName="agency" maxlength="15" mask="0*">
          </div>
        </div>

        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
          <div class="form-group">
            <label>DV</label>
            <input type="text" class="form-control" placeholder="DV" formControlName="agency_digit" mask="0">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <label>Segmento</label>
          <select class="form-control" type="text" name="bank_segment_id" formControlName="segment_id">
            <option *ngFor="let segment of segments" [value]="segment.id">{{segment.title}}</option>
          </select>
        </div>

        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label>Conta</label>
            <input type="text" class="form-control" placeholder="Conta" formControlName="account" mask="0*" maxlength="15">
          </div>
        </div>

        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
          <div class="form-group">
            <label>DV</label>
            <input type="text" class="form-control" placeholder="DV" formControlName="account_digit" mask="0">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label>Operação</label>
            <input type="text" class="form-control" placeholder="Operação" formControlName="operation" maxlength="20">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <small class="legend">* Seus dados serão encaminhados para análise</small>
        </div>

        <div class="col-12 col-sm-12 col-md-2 col-lg-2">
          <button class="btn btn-primary btn-block" type="submit">Atualizar</button>
        </div>
      </div>
    </div>
  </form>
</div>
