<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container-fornecedor" *ngIf="updateForm">
  <form [formGroup]="updateForm" (submit)="submitForm()">
    <app-register-personal-data [personalDataForm]="personalDataForm"
      [userInfo]="userInfo" [hasSteps]="hasSteps"></app-register-personal-data>
    <app-register-fidelity-programs [fidelityDataForm]="fidelitiesForm"
      [programs]="programs" [hasSteps]="hasSteps"></app-register-fidelity-programs>
    <app-register-bank-data [bankDataForm]="bankDataForm" [banks]="banks"
      [hasSteps]="hasSteps" [segments]="segments"></app-register-bank-data>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2">
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <button class="btn btn-primary btn-block" type="submit">Atualizar</button>
    </div>
  </form>
</div>
