#containerFornecedorLogin, #containerFormularioCadastro{
	max-width: 668px;
  margin-bottom: 30px;
	margin-left: auto;
  margin-right: auto;
}

#containerFormularioCadastro.fidelidade{
  width: inherit;
}

.negrito{
	font-weight: bold !important;
}
