<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="programsForm" (ngSubmit)="saveFidelities(quotations[0].id)" class="container-order">

  <div *ngFor="let quotation of quotations; let i = index">
    <ul class="cotation-list-table">
      <li class="head clearfix">
        <div class="col-row clearfix" style="background: #444; color: #fff; font-size: 14px;padding: 8px;">
          <div class="col col-2"></div>
          <div class="col col-8">
            <div class="col col-4 text-center">Milhas</div>
            <div class="col col-4"> Programa de Fidelidade</div>
            <div class="col col-4 text-center">Valor</div>
          </div>
          <div *ngIf="quotation.status_orders" class="col col-2 text-center">Status</div>
        </div>
      </li>

      <li class="body clearfix">
        <div class="col col-2" style="background: #0275d8; color: #fff">
          <div class="cotation-box-title">
            <span class="id">
              <small>Cotação</small>
              {{quotation.id}}
            </span>
            <span class="date">
              {{quotation.created_at | date: 'dd/MM/yyyy'}}
            </span>
          </div>
        </div>

        <div class="col col-8">
          <form [formGroup]="programsForm.get('program-form-' + program[1].id)" *ngFor="let program of programs; let i = index">
            <div 
              (click)="manageFormVisibility(i)" 
              class="col-row clearfix border-bottom" 
              style="background-color: #edf0f2; cursor: pointer;" 
              [ngStyle]="{ 'cursor': isSelling ? 'pointer' : 'default' }">
              <!-- /.col-milhas -->
              <div class="col col-4 col-valores text-center">
                <span class="title">
                  {{ getMiles(program[1]) }} mil
                </span>
              </div>
              <div class="col col-4 col-programa">
                <span class="programa-fidelidade">
                  <span class="logo">
                    <img [alt]="program[1].title" [src]="'assets/imgs/cias/'+program[0].toLowerCase()+'.png'" style="width: 42px"/>
                    ({{ program[1].title }})
                  </span>
                </span>
              </div>
              <!-- /.col-programa -->
              <div class="col col-valores col-4 text-center">
                <span class="valor">
                    <!-- | currency:'R$' -->
                  {{ programsForm.get('program-form-' + program[1].id).get('price').value ?
                    (programsForm.get('program-form-' + program[1].id).get('price').value | currency:'R$') :
                    'A definir'
                  }}
                </span>
              </div>
            </div><!-- /.col-row -->

            <div class="col-row clearfix border-bottom pt-2 white-background" *ngIf="showForm[i]">

              <div class="col col-6">
                <div class="form-group">
                  <label *ngIf="['JJ', 'TRB'].includes(program[0])" for="tamCartao">
                    CPF
                  </label>
                  <label *ngIf="['AD', 'AV', 'G3', 'G3D'].includes(program[0])" for="tamCartao">
                    Nº do cartão {{ detailsFidelities[program[1].id-1].title }}
                  </label>
                  <div class="input text">
                    <input 
                      type="text" 
                      class="form-control" 
                      readonly="{{ detailsFidelities[(program[1].id - 1)].card_number ? 'readonly' : '' }}"
                      formControlName="number"
                      [ngClass]="{'input-invalid': 
                        programsForm.get('program-form-' + program[1].id).get('number').touched && 
                        programsForm.get('program-form-' + program[1].id).get('number').invalid }"
                      maxlength="14">
                  </div>
                </div>
              </div>
              <div class="col col-6">
                <div class="form-group">
                  <label for="tamSenha">Senha de Acesso {{ detailsFidelities[program[1].id-1].password_type }}</label>
                  <div class="input text password-box">
                    <input 
                      type="password" 
                      class="form-control" 
                      id="tam-senha-{{ i }}" 
                      formControlName="access_password">
                    <app-password-lock
                      class="password-lock-component"
                      (lockUnlock)="lockUnlock(i, $event)"></app-password-lock>
                  </div>
                </div>
              </div>
              <div class="col-row">
                <!-- <div class="col col-4">
                  <a style="cursor: pointer" class="register-box label-height"
                    onclick="window.open('https://www.techtudo.com.br/dicas-e-tutoriais/noticia/2013/09/como-tirar-screenshots-no-windows-e-salvar-capturas-de-tela-no-computador.html')"> Não sabe capturar tela? Aprenda a "printar"...</a> 
                  <div class="form-group button-box">
                    <label for="{{program[1].value.toLowerCase()}}Print-0" class="btn btn-primary">Inicial&hellip;</label>
                    <span class="upload mr-2">
                      <input name="inicial-{{program[0]}}-{{quotation.id}}" id="{{program[1].title.quotationtoLowerCase()}}Print-0"
                      type="file" style="display: none" (change)="uploadFile($event, quotation.id, quotationprogram.[1].id)">
                    </span>quotation
                    <label for="{{program[1].title.toLowerCase()}}Print-1" class="btn btn-primary">Extrato&hellip;</label>
                      <span class="upload">
                          <input name="extract-{{program[0]}}-{{quotation.id}}" id="{{program[1].title.toLowerCase()}}Print-1"
                          type="file" style="display: none" (change)="uploadFile($event, quotation.id, program[1].id)">
                      </span>
                    </div>
                </div>
                <div class="col col-4"> 
                  <label for="" class="register-box label-height">Dados cadastrais</label>
                  <div class="form-group button-box">
                      <label for="{{program[1].title.toLowerCase()}}Print-2" class="btn btn-primary">Celular&hellip;</label>
                        <span class="upload mr-2">
                          <input name="cellphone-{{program[0]}}-{{quotation.id}}" id="{{program[1].title.toLowerCase()}}Print-2"
                          type="file" style="display: none" (change)="uploadFile($event, quotation.id, program[0].id)">
                        </span>
                      <label for="{{program[1].title.toLowerCase()}}Print-3" class="btn btn-primary">Endereço&hellip;</label>
                        <span class="upload">
                            <input name="address-{{program[0]}}-{{quotation.id}}" id="{{program[1].title.toLowerCase()}}Print-3"
                            type="file" style="display: none" (change)="uploadFile($event, quotation.id, program[1].id)">
                        </span>
                  </div>
                </div> -->
                <div class="col col-6">
                  <div class="form-group">
                    <label for="payment-select-{{ i }}">Forma de pagamento</label>
                    <select id="payment-select-{{ i }}" class="form-control" 
                      placeholder="Selecione uma form de pagamento"
                      formControlName="paymentMethod"
                      [ngClass]="{'input-invalid': 
                        programsForm.get('program-form-' + program[1].id).get('paymentMethod').touched && 
                        programsForm.get('program-form-' + program[1].id).get('paymentMethod').invalid }"
                      (change)="paymentMethodChange($event, i, quotation.id, program[1].id)">
                      <ng-container *ngFor="let method of paymentMethods">
                        <option
                          *ngIf="havePaymentMethod(method, program[1])"
                          [value]="method.id">{{ method.title }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col col-6 mile-box">
                  <div>
                    <input 
                      id="active-{{ i }}" 
                      type="checkbox"
                      formControlName="sellThis"
                      class="form-control"
                      checked>
                    <label for="active-{{ i }}">Vender estas milhas</label>
                  </div>
                </div>
              </div>

            </div>
          </form>
          <div class="col-row-valor clearfix">
            <div class="col text-center" style="font-size: 15px;">
              <span class="title">Valor Total: <strong>{{ getTotalValue() | currency:'R$' }}</strong></span>
            </div>
          </div>
        </div>

        <div class="col col-2 clearfix" style="background: #0275d8; color: #fff">
          <button class="button button-select" (click)="sellQuotation(quotation.id)" *ngIf="!isSelling">Vender</button>
          <button class="button button-select" type="submit" *ngIf="isSelling">Confirmar</button>
          <button class="button button-select" (click)="unsellQuotation(quotation.id)" *ngIf="isSelling">Cancelar</button>
          <span *ngIf="quotation.status_orders" >
            <p *ngFor="let status of quotation.status_orders;" style="margin-bottom: 0rem">
               <img style="width: 42px" [alt]="status.program" [src]="'assets/imgs/cias/'+status.program.toLowerCase()+'.png'" style="width: 30%"/> {{status.status.toUpperCase()}}
            </p>
          </span>
        </div>
      </li>
    </ul>
  </div>
</form>

<section class="wrapper" *ngIf="loading || (!loading && quotations.length == 0)">
  <div class="container-fornecedor">
    <div style="width: 100%;text-align: center;padding: 20px;">
      <h3 *ngIf="loading" > Carregando...</h3>
      <h3 *ngIf="!loading && quotations.length == 0">Nenhuma cotação recente</h3>
    </div>
  </div>
</section>
