<app-navbar></app-navbar>
<!-- <div class="row" style="margin-top: 30px">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">MILHAS</th>
          <th scope="col">PROGRAMA DE FIDELIDADE</th>
          <th scope="col">VALOR</th>
        </tr>
      </thead>
    </table>

  </div>
</div> -->

<div class="row">
  <ul class="cotation-list-table">
    <li class="head clearfix">

      <table class="cotation-table">
        <thead>
          <tr>
            <th class="width85"></th>
            <th class="width85">Milhas</th>
            <th>Programa de Fidelidade</th>
            <th class="t-valor">Valor</th>
          </tr>
        </thead>
      </table>

    </li>

    <li class="body clearfix">

      <div class="col col-1">
        <div class="cotation-box-title">
          <span class="id">
            <small>Cotação</small>
            138066
          </span>

          <span class="date">
            04/09/2018
          </span>
        </div>
      </div>

      
      <div class="col col-6">
        <div class="col-row col-row-valor clearfix">
            <div class="col col-valor-total">
              <span class="title">Valor Total:</span>
            </div>

            <div class="col col-valor-total-total">
              <span class="title">R$ 0,00</span>
            </div>
        </div>
      </div>

      <div class="col col-1">
        <a href="" class="button button-select select-cotation">Vender</a>
        <a href="" onclick="return false;" class="button button-select modal-open sell">Confirmar</a>
    
        <span class="button button-select"></span>
    
      </div>
    
    </li>
  </ul>
</div>

<app-footer></app-footer>
